@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<h4><p><em><color:blue>New Update to Web Page - <mark>version 7.0</mark> - 08-Feb-2017.</color:blue></em></p></h4>
